.albumDiv {
  display: inline-block;
  padding: 8px;
  border: solid black 2px;
  text-align: center;
  margin: 8px;
  color: white;
  width: 444px;
}

.albumImage {
  width: 200px;
  height: 200px;
  border: solid black 2px;
}

.albumCover {
  width: 111px;
  height: 111px;
  cursor: pointer;
}
